*{
    margin: 0;
    padding: 0;
}
body {
    background: #dedcee;
    color: #6a60a9 ;
    border-style: solid;
    border-width: 5px;
    height: 100vh;
}

a{
    text-decoration: none;
}

header{
    height: 120px;
    background: #6a60a9;

}

header img{
    margin: 10px;

}

header #sondagetext{
    margin-left: auto;
    margin-right: auto;

    }

header #connect{
text-align: end;
position: absolute;
top: 50px; right: 35px;
color: #dedcee;
font-size: 20px;
font-family: 'Josefin Sans', sans-serif;

}

header #connect:hover{
    color: #fbd14b;
    font-size: 25px;
    top: 47.5px; right: 25px;

}

h1{
    height: 100px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: 'Secular One', sans-serif;
    background: #fbd14b;
    color: #6a60a9 ;
    border-style: solid;
    border-width: 5px;

}

#sondages{
    margin-top: 50px;
    display: flex;
    justify-content: space-around;
    margin-left: 20%;
    margin-right: 20%;
    background: #dedcee;
    

}

.sondage{
    border-style: ridge;
    border-radius: 10px;
    padding: 10px;
    border-color: #6a60a9;
    font-family: 'Josefin Sans', sans-serif;

}

.sondage:hover {
    background: #6a60a9;
}

.sondage:hover h2{
    color: #dedcee;
}

.sondage:hover p{
    color: #dedcee;
}


.sondage img{
    height: 100px;
    width: 100px;
    display: block;
    margin-left: auto;
    margin-right: auto;

}

.sondage h2{
    text-align: center;
}

.sondage p{
    width: 200px;
    text-align: justify;
}

.arrow-left {
    width: 20px;
    height: 32px;
    background-color: #fbd14b;
    clip-path: polygon(100% 100%, 100% 0, 0 50%);
    margin-top: auto;
    margin-bottom: auto;
}

.arrow-right {
    width: 20px;
    height: 32px;
    background-color: #fbd14b;
    clip-path: polygon(0 0, 0 100%, 100% 50%);
    margin-top: auto;
    margin-bottom: auto;
}
.arrow-left:hover{
    background-color: #6a60a9;

}

.arrow-right:hover{
    background-color: #6a60a9;

    
}


#recherche {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100px;
    font-family: 'Josefin Sans', sans-serif;

}

#recherche input{
    background-color: #dedcee;
    color: #6a60a9;
    border: 1px solid #6a60a9;
}
#recherche ::placeholder{
    color: #6a60a9;
}
#recherche button{
    background-color: #dedcee;
    color: #6a60a9;
    border: 2px solid #6a60a9;
    border-radius: 5px;
}

#result{
    min-height: 200px;
}

.container {
    display: block;
    position: relative;
    padding-left: 35px;
    margin-bottom: 12px;
    cursor: pointer;
    font-size: 22px;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
  }

  
.container input {
    position: absolute;
    opacity: 0;
    cursor: pointer;
    height: 0;
    width: 0;
  }
  
  .checkmark {
    position: absolute;
    top: 0;
    left: 0;
    height: 25px;
    width: 25px;
    background-color: #fffcf0;
    border-radius: 50%;
  }
  
  .container:hover input ~ .checkmark {
    background-color: #fbd14b;
  }
  
  .container input:checked ~ .checkmark {
    background-color: #6a60a9;
  }


  
  .ask{
margin-left: 10%;
margin-right: 10%;
margin-top: 20px;
margin-bottom: 20px;


  }

  .ask h2{
      margin-bottom: 10px;
      text-align: center;
      font-family: 'Josefin Sans', sans-serif;
  }
  .ask p{
    font-family: 'Josefin Sans', sans-serif;

  }

  .onetotenask{
      display: flex;
      justify-content: space-around;
      margin-left: 50px;
      margin-right: 50px;
  }

  #envoyer{
      display: flex;
    justify-content: center;  
    margin-top: 50px;
    margin-bottom: 20px;
}

#envoyer button{
    background: #6a60a9;
    border-radius: 30%;
    height: 40px;
    width: 100px;
    color: #fbd14b;
    box-shadow: 0 9px #999;
    border: none;
    font-size: 20px;
    font-weight: bold;
    font-family: 'Josefin Sans', sans-serif;
    text-align: center;
    margin-top: auto;
    margin-bottom: auto;

}

#envoyer button:hover{
    background: #fffcf0;
}

#envoyer button:active{
    box-shadow: 0 5px #666;
    transform: translateY(4px);
    background: #6a60a9;
    border: none;
}

#classement{
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 30px;
}
table{
width: 100%;}

table, td{
    border: 2px solid #6a60a9;
    font-family: 'Josefin Sans', sans-serif;
    padding: 5px;


}

table, th{
    font-family: 'Secular One', sans-serif;
    padding: 5px;

}

tr:hover{
    color: #fbd14b;
}
